= semantic_form_for @service_area do |f|
  = f.inputs do
    = f.input :name
    = f.input :visible, as: :boolean
    = f.input :lang, as: :select, collection: ServiceArea.langs.keys.map { |k| [k.humanize, k] }
    = f.rich_text_area  :abstract

  = f.actions do
    = f.action :submit, :as => :input
