= semantic_form_for @service do |f|
  = f.inputs do
    = f.input :name
    = f.input :card_description
    = f.input :subtitle
    = f.input :service_area

  = f.actions do
    = f.action :submit, :as => :input
