%p#notice= notice

%p
  %b Name:
  = @service.name
%p
  %b Card description:
  = @service.card_description
%p
  %b Subtitle:
  = @service.subtitle
%p
  %b Service area:
  = @service.service_area

= link_to 'Edit', edit_service_path(@service)
\|
= link_to 'Back', services_path
