%span.dropdown.btn.btn-white
  %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#" }
    %span.hidden-phone
    = @country || "país"
    %b.caret
  %ul.dropdown-menu
    %li
      %a(href='/dashboard#{top}')todos
    %li
      %a(href='/dashboard#{top}/ar')ar
    %li
      %a(href='/dashboard#{top}/bo')bo
    %li
      %a(href='/dashboard#{top}/cl')cl
    %li
      %a(href='/dashboard#{top}/co')co
    %li
      %a(href='/dashboard#{top}/pe')pe
    %li
      %a(href='/dashboard#{top}/uy')uy
    %li
      %a(href='/dashboard#{top}/ol')ol
