.page-header
  %h1.pull-left
    %i.icon-dashboard
    %span
      %a(href='/dashboard') Dashboard:
      = render partial: '/commons/country_menu', locals: {top: '/dashboard'}
 
= render '/commons/notice'

.row-fluid
  .span12.box
    .row-fluid
      .span6
        .box-content.box-statistic
          %h3.title.text-error
            = @nuevos_registros
          %small Nuevos (Recordá Contactarlos)
          .text-error.icon-inbox.align-right
      .span6
        .box-content.box-statistic
          %a{ :href => "/participants/followup" }
            %h3.title.text-warning
              = @participantes_contactados
            %small Contactados
            .text-warning.icon-check.align-right

- def dweek(d)
  - (d.year*100+d.cweek) - (Date.today.year*100+Date.today.cweek)
- event_groups= []
- event_groups << [2, @events.select{ |ev| dweek(ev.date)<=2 }]
- event_groups << [4, @events.select{ |ev| dweek(ev.date).between?(3,4) }]
- event_groups << [6, @events.select{ |ev| dweek(ev.date).between?(5,6) }]
- event_groups << ['+6', @events.select{ |ev| dweek(ev.date)>6 }]
- event_groups.each do |event_group|
  .row-fluid
    .span12
      .row-fluid
        .span12.box.box-nomargin
          .box-header.green-background
            .title
              .icon-tasks
              Cursos en las próximas 
              = event_group[0]
              semanas 
            .actions
              %a.btn.box-collapse.btn-mini.btn-link
                %i
          .box-content
            %ul.unstyled.tasks
              - event_group[1].each do |event|
                - trainers = event.trainers.pluck(:name).join(',')
                - human_hours = event.start_time.strftime( "%H:%Mhs." )
                %li
                  .row-fluid
                    .span1
                      = event.human_date
                    .span11
                      .task
                        %span.pull-left
                          %a{ :href => "/events/#{event.id}/participants" }
                            %b= event.event_type.name
                            = "| #{event.city} | #{human_hours} | #{event.place} | #{trainers}"
                        %small.pull-right
                          - if event.registration_link == ""
                            = "#{(event.completion*100).round}% (#{event.confirmed_quantity}/#{event.capacity}) "
                            - unless event.online_cohort_codename.present?
                              %a{ :href => "/events/#{event.id}/edit" }
                                %img{src: "/assets/alert.png", style: "vertical-align:middle", alt: 'Project code missing', 'data-toggle': 'tooltip', 'data-placement': 'top', title: 'Project code missing'}
                            - if event.participants.new_ones.count > 0
                              %strong= link_to event.participants.new_ones.count.to_s + " nuevos", event_participants_path(event)
                            %a.btn.btn-warning.btn-mini{ :href => "/events/#{event.id}/participants" }
                              %i.icon-group
                            &nbsp;
                          - else
                            N/A
                      - if event.registration_link == ""
                        - if event.completion < 0.2
                          .progress.progress-small.progress-danger
                            .bar{ :style => "width: #{(event.completion*100).round.to_s}%" }
                        - elsif event.completion >= 0.2 && event.completion < 0.5
                          .progress.progress-small.progress-info
                            .bar{ :style => "width: #{(event.completion*100).round.to_s}%" }
                        - elsif event.completion >= 0.5 && event.completion < 0.8
                          .progress.progress-small
                            .bar{ :style => "width: #{(event.completion*100).round.to_s}%" }
                        - elsif event.completion >= 0.8
                          .progress.progress-small.progress-success
                            .bar{ :style => "width: #{(event.completion*100).round.to_s}%" }
