%script(src="https://www.google.com/recaptcha/api.js")
= form_for [@event, @participant] do |f|
  - if @event.is_sold_out
    .alert
      = I18n.t("formtastic.labels.event.alert.is_sold_out").html_safe
  - if @participant.errors.full_messages.count > 0 || @captcha_error
    .alert.alert-danger{:id => "validation_msg"}
      = "Complete los campos con * y el captcha"
  - if @event.registration_ended?
    .alert
      = I18n.t("formtastic.labels.event.alert.registration_ended").html_safe
  - else
    %fieldset.inputs
    - if @nakedform
      %input{ :type => "hidden", :name => "nakedform", :value => "1" }

    - utm_campaign = params[:utm_campaign]
    - utm_source = params[:utm_source]

    - if !utm_campaign.nil?
      %input{ :type => "hidden", :name => "utm_campaign", :value => utm_campaign }

    - if !utm_source.nil?
      %input{ :type => "hidden", :name => "utm_source", :value => utm_source }

    .row-fluid
      .control-group
        = f.text_field :fname, required: true, :class => "span12", :placeholder => '* '+I18n.t("formtastic.labels.participant.fname")
    .row-fluid
      .control-group
        = f.text_field :lname, required: true, :class => "span12", :placeholder => '* '+I18n.t("formtastic.labels.participant.lname")
    .row-fluid
      .control-group
        - email_placeholder = '* '+ I18n.t("formtastic.labels.participant.email")
        - email_placeholder += I18n.t("formtastic.labels.participant.email_hint")
        = f.email_field :email, required: true, :class => "span12", :placeholder => email_placeholder
    .row-fluid
      .control-group
        = f.text_field :company_name, required: false, :class => "span12", :placeholder => I18n.t("formtastic.labels.participant.invoice_name")
    .row-fluid
      .control-group
        = f.text_field :address, required: true, :class => "span12", :placeholder => '* '+ I18n.t("formtastic.labels.participant.address")
    - if @event.should_ask_for_referer_code
      .row-fluid
        .control-group
          = f.text_field :referer_code, :class => "span6", :placeholder => I18n.t("formtastic.labels.participant.referer_code")
          %div#referer-code-message
    .row_fluid
      .control-group
        %small.muted
        = f.select :quantity, quantity_list, {}, {:class => "span6"}
        %div#savings.icon-star{ style: "background-color: rgba(152, 251, 152, 0.7);border-radius: 3px; padding: 2px;" }
    .row-fluid
      .control-group
        = f.phone_field :phone, :class => "span12", :placeholder => I18n.t("formtastic.labels.participant.phone")
    .row-fluid
      .control-group
        = f.text_area :notes, :class => "span12 autogrow", :placeholder => I18n.t("formtastic.labels.participant.notes"), :rows => 2
    .row-fluid
      .control-group
        %label.checkbox
          = f.check_box :accept_terms, :required => true
          %label.control-label{ :for => :accept_terms }= ('* '+ I18n.t("formtastic.labels.participant.accept_terms")).html_safe
    .row-fluid
      = recaptcha_tags(expired_callback: 'grecaptcha.reset()')

    .row-fluid
      .form-actions{ :style => "padding: 4px 20px 4px; margin-top: 0px;"}
        .text-center
          %button.btn.btn-primary.btn-large{:name => "commit", :type => "submit", :style => "margin-top: 0px;"}
            %i.icon-save
            - if @event.community_event?
              = I18n.t("formtastic.button.participant.register")
            - else
              = I18n.t("formtastic.button.participant.buy")

:javascript
  $(document).ready(function() {
    var refererCodeInput = $('input[name="participant[referer_code]"]');

    refererCodeInput.on('change', function() {
      if ($(this).val() !== '') {
        $('#referer-code-message').text("#{I18n.t('formtastic.labels.participant.referer_code_message')}");
      } else {
        $('#referer-code-message').text('');
      }
    });
  });

:javascript
  document.addEventListener('DOMContentLoaded', function() {
    const selectElement = document.getElementById('participant_quantity');
    updateSaving(selectElement);
    selectElement.addEventListener('change', function() { 
      updateSaving(this); 
    });

    function updateSaving(quantityElement) {
        const savings = #{@savings}
        const saving = savings[parseInt(quantityElement.value)-1];
        const message = "#{t('formtastic.labels.participant.saving')}";
        const messageElement = document.getElementById('savings')
        if (saving == 0) {
          messageElement.textContent = '';
          messageElement.style.display = 'none';
        }
        else {
          messageElement.innerHTML  = message.replace('${saving}', saving);
          messageElement.style.display = 'block';
        }
    }
  });
