- unless @nakedform
  .controls
    .form-wrapper
      = render '/commons/notice'
      %p 
        - unless @cancelled
          - if @free
            = I18n.t("formtastic.labels.participant.auto_confirm")
          - elsif @event.should_welcome_email
            = I18n.t("formtastic.labels.participant.confirm_with_mail")
          - else
            = I18n.t("formtastic.labels.participant.confirm_without_mail")
- else
  :css
    body {bgcolor:#FFFFFF;}
  = render '/commons/notice'
  - unless @cancelled
    %p
      = I18n.t("formtastic.labels.participant.confirm_with_mail")

= @event.experimental_features
