.controls
  - if !@nakedform
    .form-wrapper
      %h1.text-center= @event.event_type.name
      - if @event.is_webinar?
        %p.text-center
          %i.icon-calendar
          = @event.human_date + " de " + @event.start_time.strftime( "%H:%M" ) + " a " + @event.end_time.strftime( "%H:%M" ) + " hs."
          %br
          %i.icon-globe
          = @event.place
        - if @event.webinar_started? && !@event.webinar_finished?
          %h6.text-center= "Actualmente en progreso!"
      - else
        %p.text-center
          - if @event.is_experimental_event?
            %h3.text-center= "¡Ups! Aún no estamos listos..."
            %h4.text-center="Pero queremos fallar con estilo"
            %h5.text-center="Esto significa que antes de definir todos los detalles del curso, buscamos tener un buen número de interesados. Déjanos tus datos para contactarte cuando lleguemos al número mágico y comparte con tus amigos para lograrlo más rápido."
          -else
            %i.icon-calendar
            = @event.human_date + " " + @event.human_time + "."
            %br
            %i.icon-map-marker
            = @event.place + ", " + @event.city
      = render 'form'
  - else
    = render 'form'
