- content_for  :title do
  = "#{I18n.t('formtastic.titles.participant_buy')} #{@event.event_type.name}"
.controls
  - unless @nakedform
    .form-wrapper
      %h1.text-center= @event.event_type.name
      %p.text-center
        %i.icon-calendar
        = @event.human_date + " " + @event.human_time + "."
        %br
        %i.icon-map-marker
        = [@event.place.to_s, @event.address.to_s, @event.city.to_s].reject{|s| s.empty?}.uniq.join(', ')
      = render 'form'
  - else
    = render 'form'
