<h2>Reset de Clave</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>
  <div>
    <%= f.password_field :password, placeholder: 'Nueva Clave', autofocus: true %>
  </div>
  <div>
    <%= f.password_field :password_confirmation, placeholder: 'Confirmación' %>
  </div>
  <div>
    <%= f.submit 'Cambiar Clave' %>
  </div>
  <div class="links">
    <%= render 'devise/shared/links' %>
  </div>
<% end %>
