.page-header
  %h1.pull-left
    %i.icon-bar-chart
    %span
      Detalles de Campaña

.col-sm-12

  .box.bordered-box.red-border
    .box-header.red-background
      .title= @campaign.display_name
    .box-content.box-no-padding
      .tabbable{ :style => 'margin-top: 20px' }
        %ul.nav.nav-responsive.nav-tabs
          %li.active
            %a{ "data-toggle" => 'tab', href: "#sources" }
              Sources
          %li
            %a{ "data-toggle" => 'tab', href: "#events" }
              Eventos
          %li
            %a{ "data-toggle" => 'tab', href: "#event_types" }
              Tipos de Evento
          -#%li
            %a{ "data-toggle" => 'tab', href: "#countries" }
              Países
        .tab-content
          .tab-pane.active#sources
            .responsive-table
              .scrollable-area
                %table.table.table-hover.table-striped
                  %thead
                    %tr
                      %td
                        %strong Source
                      %td
                        %strong Landing Page Views
                      %td
                        %strong Registration Form Views
                      %td
                        %strong Última Acción (View o Registro)
                  %tbody
                    - @campaign.campaign_sources.order("updated_at DESC").each do |source|
                      %tr
                        %td= source.display_name
                        %td= source.campaign_views.where(campaign_id: @campaign.id).where(element_viewed: "landing").count
                        %td= source.campaign_views.where(campaign_id: @campaign.id).where(element_viewed: "registration_form").count
                        %td= source.updated_at

          .tab-pane#events
            .responsive-table
              .scrollable-area
                %table.table.table-hover.table-striped
                  %thead
                    %tr
                      %td
                        %strong Evento
                      %td
                        %strong Fecha
                      %td
                        %strong País
                      %td
                        %strong Landing Page Views
                      %td
                        %strong Registration Form Views
                      %td
                        %strong Registros
                      %td
                        %strong Confirmados
                  %tbody
                    - @campaign.events.each do |event|
                      %tr
                        %td= event.name
                        %td= event.date
                        %td= event.country
                        %td= event.campaign_views.where(campaign_id: @campaign.id).where(element_viewed: "landing").count
                        %td= event.campaign_views.where(campaign_id: @campaign.id).where(element_viewed: "registration_form").count
                        %td= event.participants.where(campaign_id: @campaign.id).count
                        %td= event.participants.confirmed_or_attended.where(campaign_id: @campaign.id).count

          .tab-pane#event_types
            .responsive-table
              .scrollable-area
                %table.table.table-hover.table-striped
                  %thead
                    %tr
                      %td
                        %strong Tipo de Evento
                      %td
                        %strong Landing Page Views
                      %td
                        %strong Registration Form Views
                      %td
                        %strong Registros
                      %td
                        %strong Confirmados
                  %tbody
                    - @campaign.event_types.each do |event_type|
                      %tr
                        %td= event_type.name
                        %td= event_type.campaign_views.where(campaign_id: @campaign.id).where(element_viewed: "landing").count
                        %td= event_type.campaign_views.where(campaign_id: @campaign.id).where(element_viewed: "registration_form").count
                        %td= event_type.participants.where(campaign_id: @campaign.id).count
                        %td= event_type.participants.confirmed_or_attended.where(campaign_id: @campaign.id).count

          -#.tab-pane#countries
            .responsive-table
              .scrollable-area
                %table.table.table-hover.table-striped
                  %thead
                    %tr
                      %td
                        %strong País
                      %td
                        %strong Views
                      %td
                        %strong Registros
                      %td
                        %strong Confirmados
                  %tbody
                    - @campaign.countries.each do |country|
                      %tr
                        %td= country.name
                        %td= @campaign.participants.where(country: country).count
                        %td X
                        %td X
