.page-header
  %h1.pull-left
    %i.icon-bar-chart
    %span
      Detalles de Campaña

.col-sm-12

  .box.bordered-box.red-border
    .box-header.red-background
      .title= @campaign.display_name
    .box-content.box-no-padding
      .tabbable{ :style => 'margin-top: 20px' }
        %ul.nav.nav-responsive.nav-tabs
          %li.active
            %a{ "data-toggle" => 'tab', href: "#sources" }
              Sources
          %li
            %a{ "data-toggle" => 'tab', href: "#events" }
              Eventos
          %li
            %a{ "data-toggle" => 'tab', href: "#event_types" }
              Tipos de Evento
          %li
            %a{ "data-toggle" => 'tab', href: "#countries" }
              Países
        .tab-content
          .tab-pane.active#sources
            .responsive-table
              .scrollable-area
                %table.table.table-hover.table-striped
                  %thead
                    %tr
                      %td
                        %strong Source
                      %td
                        %strong Views
                  %tbody
                    - @sources.each do |source|
                      %tr
                        %td= source[0].nil? ? "N/A" : source[0]
                        %td= source[1]

          .tab-pane#events
            .responsive-table
              .scrollable-area
                %table.table.table-hover.table-striped
                  %thead
                    %tr
                      %td
                        %strong Evento
                      %td
                        %strong Fecha
                      %td
                        %strong País
                      %td
                        %strong Views
                      %td
                        %strong Registros
                      %td
                        %strong Confirmados
                  %tbody
                    - @campaign.events.each do |event|
                      %tr
                        %td= event.name
                        %td= event.date
                        %td= event.country
                        %td= event.campaign_views.where(campaign_id: @campaign.id).count
                        %td X
                        %td X

          .tab-pane#event_types
            .responsive-table
              .scrollable-area
                %table.table.table-hover.table-striped
                  %thead
                    %tr
                      %td
                        %strong Tipo de Evento
                      %td
                        %strong Views
                      %td
                        %strong Registros
                      %td
                        %strong Confirmados
                  %tbody
                    - @campaign.event_types.each do |event_type|
                      %tr
                        %td= event_type.name
                        %td= event_type.campaign_views.where(campaign_id: @campaign.id).count
                        %td X
                        %td X
