.page-header
  %h1.pull-left
    %i.icon-bar-chart
    %span
      Detalles de Campaña:
      = @campaign.display_name
    %br
    = render partial: '/marketing/time_segment_menu', locals: {top: "/marketing/campaigns/#{@campaign.id}"}

.col-sm-12
  = render partial: '/marketing/funnel'

.col-sm-12

  .box.bordered-box.red-border
    .box-header.green-background
      .title
        Campaña:
        = @campaign.display_name
    .box-content.box-no-padding
      .tabbable{ :style => 'margin-top: 20px' }
        %ul.nav.nav-responsive.nav-tabs
          %li.active
            %a{ "data-toggle" => 'tab', href: "#sources" }
              Sources
          %li
            %a{ "data-toggle" => 'tab', href: "#events" }
              Eventos
          %li
            %a{ "data-toggle" => 'tab', href: "#event_types" }
              Tipos de Evento
          -#%li
            %a{ "data-toggle" => 'tab', href: "#countries" }
              Países
        .tab-content
          .tab-pane.active#sources
            .responsive-table
              .scrollable-area
                %table.table.table-hover.table-striped.data-table
                  %thead
                    %tr
                      %td
                        %strong Source
                      %td
                        %strong Landing Page Views
                      %td
                        %strong Registration Form Views
                      %td
                        %strong Registros
                      %td
                        %strong Confirmados
                      %td
                        %strong Conversion Rate (%)
                      %td
                        %strong Última Acción (View o Registro)
                  %tbody
                    - @campaign.campaign_sources(@since, @until).order("updated_at DESC").each do |source|
                      - visitors_count = source.campaign_views.where(campaign_id: @campaign.id).where("created_at >= ?", @since).where("created_at < ?", @until ).where(element_viewed: "landing").count
                      - interested_count = source.campaign_views.where(campaign_id: @campaign.id).where("created_at >= ?", @since).where("created_at < ?", @until ).where(element_viewed: "registration_form").count
                      - registrants_count = source.participants.where(campaign_id: @campaign.id).where("created_at >= ?", @since).where("created_at < ?", @until ).count
                      - sales_count = source.participants.confirmed_or_attended.where(campaign_id: @campaign.id).where("created_at >= ?", @since).where("created_at < ?", @until ).count
                      - conversion_rate = (visitors_count==0 )? 0 : sales_count.to_f / visitors_count.to_f * 100
                      %tr
                        %td= source.display_name
                        %td= visitors_count
                        %td= interested_count
                        %td= registrants_count
                        %td= sales_count
                        %td= conversion_rate.round(2)
                        %td= source.updated_at.strftime("%d-%b-%Y")

          .tab-pane#events
            .responsive-table
              .scrollable-area
                %table.table.table-hover.table-striped.data-table
                  %thead
                    %tr
                      %td
                        %strong Evento
                      %td
                        %strong Fecha
                      %td
                        %strong País
                      %td
                        %strong Landing Page Views
                      %td
                        %strong Registration Form Views
                      %td
                        %strong Registros
                      %td
                        %strong Confirmados
                      %td
                        %strong Conversion Rate (%)
                  %tbody
                    - @campaign.events(@since, @until).each do |event|
                      - visitors_count = CampaignView.where(campaign_id: @campaign.id).where(event_id: event.id).where("created_at >= ?", @since).where("created_at < ?", @until ).where(element_viewed: "landing").count
                      - interested_count = CampaignView.where(campaign_id: @campaign.id).where(event_id: event.id).where("created_at >= ?", @since).where("created_at < ?", @until ).where(element_viewed: "registration_form").count
                      - registrants_count = event.participants.where(campaign_id: @campaign.id).where("created_at >= ?", @since).where("created_at < ?", @until ).count
                      - sales_count = event.participants.confirmed_or_attended.where(campaign_id: @campaign.id).where("created_at >= ?", @since).where("created_at < ?", @until ).count
                      - conversion_rate = (visitors_count==0 )? 0 : sales_count.to_f / visitors_count.to_f * 100
                      %tr
                        %td= event.name
                        %td= event.date
                        %td= event.country
                        %td= visitors_count
                        %td= interested_count
                        %td= registrants_count
                        %td= sales_count
                        %td= conversion_rate.round(2)

          .tab-pane#event_types
            .responsive-table
              .scrollable-area
                %table.table.table-hover.table-striped.data-table
                  %thead
                    %tr
                      %td
                        %strong Tipo de Evento
                      %td
                        %strong Landing Page Views
                      %td
                        %strong Registration Form Views
                      %td
                        %strong Registros
                      %td
                        %strong Confirmados
                      %td
                        %strong Conversion Rate (%)
                  %tbody
                    - @campaign.event_types(@since, @until).each do |event_type|
                      - visitors_count = CampaignView.where(campaign_id: @campaign.id).where(event_type_id: event_type.id).where("campaign_views.created_at >= ?", @since).where("campaign_views.created_at < ?", @until ).where(element_viewed: "landing").count
                      - interested_count = CampaignView.where(campaign_id: @campaign.id).where(event_type_id: event_type.id).where("campaign_views.created_at >= ?", @since).where("campaign_views.created_at < ?", @until ).where(element_viewed: "registration_form").count
                      - registrants_count = event_type.participants.where(campaign_id: @campaign.id).where("participants.created_at >= ?", @since).where("participants.created_at < ?", @until ).count
                      - sales_count = event_type.participants.confirmed_or_attended.where(campaign_id: @campaign.id).where("participants.created_at < ?", @until ).where("participants.created_at >= ?", @since).count
                      - conversion_rate = (visitors_count==0 )? 0 : sales_count.to_f / visitors_count.to_f * 100
                      %tr
                        %td= event_type.name
                        %td= visitors_count
                        %td= interested_count
                        %td= registrants_count
                        %td= sales_count
                        %td= conversion_rate.round(2)

          -#.tab-pane#countries
            .responsive-table
              .scrollable-area
                %table.table.table-hover.table-striped
                  %thead
                    %tr
                      %td
                        %strong País
                      %td
                        %strong Views
                      %td
                        %strong Registros
                      %td
                        %strong Confirmados
                  %tbody
                    - @campaign.countries.each do |country|
                      %tr
                        %td= country.name
                        %td= @campaign.participants.where(country: country).count
                        %td X
                        %td X
