.page-header
  %h1.pull-left
    %i.icon-bar-chart
    %span
      %a(href='/marketing') Marketing:
      = render partial: '/marketing/time_segment_menu', locals: {top: '/marketing'}

.col-sm-12
  = render partial: '/marketing/funnel'

.col-sm-12
  .box.bordered-box.red-border
    .box-header.green-background
      .title Campañas
    .box-content.box-no-padding
      .responsive-table
        .scrollable-area
          %table.table.table-hover.table-striped.data-table
            %thead
              %tr
                %td
                  %strong Nombre
                %td
                  %strong Landing Page Views
                %td
                  %strong Registration Form Views
                %td
                  %strong Registros
                %td
                  %strong Confirmados
                %td
                  %strong Fecha Inicio
                %td
                  %strong Última Acción (View o Registro)
            %tbody
              - @camapigns.each do |campaign|
                %tr
                  %td
                    %a{ href: "/marketing/campaigns/#{campaign.id}/#{@time_segment}" }
                      = campaign.display_name
                  %td= CampaignView.where(campaign_id: campaign.id).where("created_at >= ?", @since).where("created_at < ?", @until ).where(element_viewed: "landing").count
                  %td= CampaignView.where(campaign_id: campaign.id).where("created_at >= ?", @since).where("created_at < ?", @until ).where(element_viewed: "registration_form").count
                  %td= Participant.where(campaign_id: campaign.id).where("created_at >= ?", @since).where("created_at < ?", @until ).count
                  %td= Participant.confirmed_or_attended.where(campaign_id: campaign.id).where("created_at >= ?", @since).where("created_at < ?", @until ).count
                  %td
                    = campaign.created_at
                  %td
                    = campaign.updated_at
