:css
  ol {
     list-style:none;
  }
  .label {
    color:black;
    background-color:white;
    font-weight: normal;
  }

- @news.errors.full_messages.each do |msg|
  .alert.alert-error
    %a.close{ "data-dismiss" => :alert, :href => "#" } &times;
    =msg
-if notice.present?
  .alert.notice= notice
.row-fluid
  .span12.box
    .box-header.red-background
      .title
        .icon-edit
          = @news.title.nil? ? t("formtastic.labels.news.new_title") : @news.title

    .box-content
      = semantic_form_for @news do |f|
        %fieldset.inputs
          = f.inputs do
            .row-fluid
              .span3
                .control-group
                  = f.input :lang, :as => :radio
              .span1
              .span4
              .span4
            = f.input :title, input_html: {class: 'input-block-level'}
            = f.input :description, input_html: {class: 'input-block-level'}
            = f.date_field  :event_date
            = f.input :url, input_html: {class: 'input-block-level'}
            = f.input :img, input_html: {class: 'input-block-level'}
            %small.muted
              Image URL
            .row-fluid
              = f.input :trainers, as: :check_boxes, collection: Trainer.sorted, wrapper_html: { class: 'box-content', style: "column-count: 2;column-gap: 2rem;list-style: none;"}
            .row-fluid
              .span6
                Created at
                = @news.created_at
              .span6
                Updated at
                = @news.updated_at
          .row-fuid
            .span12
              .form-actions
                .text-right
                  %button.btn.btn-primary.btn-large{:id => "guardar", :name => "commit", :type => "submit"}
                    %i.icon-save
                    Guardar y Seguir
                  %a.btn.btn-large{ :href => news_index_path }
                    %i.icon-undo
                    Cancelar


