%span.dropdown.btn.btn-white
  %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#" }
    %span.hidden-phone
    = @lang || "lang"
    %b.caret
  %ul.dropdown-menu{id: 'lang'}
    %li
      %a(href="#{top}/all/active/#{@active || 'all'}")todos
    %li
      %a(href="#{top}/es/active/#{@active || 'all'}")es
    %li
      %a(href="#{top}/en/active/#{@active || 'all'}")en
%span.dropdown.btn.btn-white
  %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#" }
    %span.hidden-phone
    = @active || "activo?"
    %b.caret
  %ul.dropdown-menu{id: 'active'}
    %li
      %a(href="#{top}/#{@lang || 'all'}/active/all")todos
    %li
      %a(href="#{top}/#{@lang || 'all'}/active/true")activo
    %li
      %a(href="#{top}/#{@lang || 'all'}/active/false")borrado
