.main-nav-bg
  %nav#main-nav
    .navigation
      %ul.nav.nav-stacked
        %li{ :class => menu_item_class(@active_menu, "dashboard") }
          %a{ :href => "/dashboard" }
            %i.icon-dashboard
            %span Dashboard
        -# %li{ :class => menu_item_class(@active_menu, "ratings") }
        -#   %a{ :href => "/dashboard/ratings" }
        -#     %i.icon-trophy
        -#     %span Ratings
        %li{ :class => menu_item_class(@active_menu, "pricing") }
          %a{ :href => "/dashboard/pricing" }
            %i.icon-money
            %span Pricing
        - if can? :manage, Event.new
          %li{ :class => menu_item_class(@active_menu, "events") }
            %a{ :href => "/events" }
              %i.icon-calendar
              %span Eventos
        - if can? :manage, EventType.new
          %li{ :class => menu_item_class(@active_menu, "event_types") }
            %a{ :href => "/event_types" }
              %i.icon-tasks
              %span Tipos de Evento
        %li{ :class => menu_item_class(@active_menu, "marketing") }
          %a{ :href => "/marketing" }
            %i.icon-bar-chart
            %span Marketing
        %li{ :class => menu_item_class(@active_menu, "articles") }
          %a{ :href => "/articles" }
            %i.icon-file
            %span Articles
        %li{ :class => menu_item_class(@active_menu, "news") }
          %a{ :href => "/news" }
            %i.icon-bolt
            %span News
            %span.label.label-success{ style: "color:#ffffff;text-shadow:none;"}
              new
        %li{ :class => menu_item_class(@active_menu, "resources") }
          %a{ :href => "/resources" }
            %i.icon-book
            %span Resources
        - if can? :manage, Trainer.new
          %li{ :class => menu_item_class(@active_menu, "trainers") }
            %a{ :href => trainers_path }
              %i.icon-briefcase
              %span= t('menu.trainers')
        %li{ :class => menu_item_class(@active_menu, "images") }
          %a{ :href => "/images" }
            %i.icon-folder-open
            %span= t('menu.images')
        - if can? :manage, Category.new
          %li{ :class => menu_item_class(@active_menu, "categories") }
            %a{ :href => categories_path }
              %i.icon-sitemap
              %span= t('menu.categories')
        %li
          %ul
            Tools
          %li{ :class => menu_item_class(@active_menu, "roles") }
            %a{ :href => roles_path }
              %i.icon-cogs
              %span= t('menu.roles')
          %li{ :class => menu_item_class(@active_menu, "users") }
            %a{ :href => users_path }
              %i.icon-user
              %span= t('menu.users')
          - if can? :manage, OauthToken.new
            %li{ :class => menu_item_class(@active_menu, "oauth_tokens") }
              %a{ :href => '/oauth_tokens' }
                %i.icon-cog
                %span= t('menu.oauth_tokens')
          - if can? :manage, Setting.new
            %li{ :class => menu_item_class(@active_menu, "settings") }
              %a{ :href => settings_path }
                %i.icon-cog
                %span= t('menu.settings')
            %li{ :class => menu_item_class(@active_menu, "logs") }
              %a{ :href => logs_path }
                %i.icon-cog
                %span= t('menu.logs')
            %li{ :class => menu_item_class(@active_menu, "admin_nuevo") }
              %a{ :href => admin_root_path }
                %i.icon-cog
                %span= t('menu.admin_nuevo')
                