%span.dropdown.btn.btn-white
  %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#" }
    %span.hidden-phone
    = @active_menu || "segmento"
    %b.caret
  %ul.dropdown-menu
    %li
      %a(href="#{top}/30")30 días
    %li
      %a(href='#{top}/60')60 días
    %li
      %a(href='#{top}/90')90 días
    %li
      %a(href='#{top}/365')365 días
    %li
      %a(href='#{top}/all')todos
