<h2>Identificación</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
    <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: 'Clave' %>
  </div>
  <% if devise_mapping.rememberable? %>
    <div>
      <label><%= f.check_box :remember_me %> Recordarme</label>
    </div>
  <% end %>
  <div>
    <%= f.submit 'Identificarme' %>
  </div>
  <div class="links">
    <%= render 'devise/shared/links' %>
  </div>
<% end %>
