:css
  ol {
     list-style:none;
  }
  .label {
    color:black;
    background-color:white;
    font-weight: normal;
  }

- @resource.errors.full_messages.each do |msg|
  .alert.alert-error
    %a.close{ "data-dismiss" => :alert, :href => "#" } &times;
    =msg
-if notice.present?
  .alert.notice= notice
.row-fluid
  .span12.box
    .box-header.red-background
      .title
        .icon-edit
          = @resource.title_es.nil? ? t("formtastic.labels.article.new_title") : @resource.title_es

    .box-content
      = semantic_form_for @resource do |f|
        %fieldset.inputs
          = f.inputs do
            .row-fuid
              = f.input :title_es, input_html: {class: 'input-block-level'}
            .row-fuid
              .span6
                .control-group
                  = f.input :format
                  = f.input :downloadable
                  %small.muted
                    Relacionado con "Get It: Comprar o descargar". Marcar si se puede bajar el pdf o va a página de compras
              .span6
                .control-group
                  = #f.input :category
                  = f.input :categories, as: :check_boxes, collection: Category.all, wrapper_html: { class: 'box-content', style: "column-count: 2;column-gap: 2rem;list-style: none;"}

            = f.input :slug, input_html: {class: 'input-block-level'}
            %small.muted= 'Empty -> automatic from "title es" (slug an id for human readable links)'
            .row-fuid
              = f.input :landing_es, input_html: {class: 'input-block-level'}
              = f.input :getit_es, input_html: {class: 'input-block-level'}
              %small.muted
                URL para Comprar o descargar. Downloadeable define uno u otro
              = f.input :cover_es, input_html: {class: 'input-block-level'}
              = f.input :description_es, input_html: {class: 'input-block-level', maxlength: "220",rows: 5}
              %span#resource_description_es-count
              = f.input :comments_es, input_html: {class: 'input-block-level', rows: 2}
              = f.input :share_link_es, input_html: {class: 'input-block-level'}
              = f.input :share_text_es, input_html: {class: 'input-block-level'}
              = f.input :tags_es, input_html: {class: 'input-block-level'}
            .row-fluid
              = f.input :authors, as: :check_boxes, collection: Trainer.sorted, input_html: { multiple: true,  required: false}, wrapper_html: { class: 'box-content', style: "column-count: 2;column-gap: 2rem;list-style: none;"}
              = f.input :translators, as: :check_boxes, collection: Trainer.sorted, wrapper_html: { class: 'box-content', style: "column-count: 2;column-gap: 2rem;list-style: none;"}
            .row-fuid
              .span12
                %hr.hr-normal
                %h2 English
            .row-fluid
              = f.input :title_en, input_html: {class: 'input-block-level'}
              = f.input :landing_en, input_html: {class: 'input-block-level'}
              = f.input :getit_en, input_html: {class: 'input-block-level'}
              %small.muted
                URL para Comprar o descargar. Downloadeable define uno u otro
              = f.input :cover_en, input_html: {class: 'input-block-level'}
              = f.input :description_en, input_html: {class: 'input-block-level', rows: 5}
              = f.input :comments_en, input_html: {class: 'input-block-level', rows: 2}
              = f.input :share_link_en, input_html: {class: 'input-block-level'}
              = f.input :share_text_en, input_html: {class: 'input-block-level'}
              = f.input :tags_en, input_html: {class: 'input-block-level'}
            .row-fluid
              .span6
                Created at
                = @resource.created_at
              .span6
                Updated at
                = @resource.updated_at
          .row-fuid
            .span12
              .form-actions
                .text-right
                  %button.btn.btn-primary.btn-large{:id => "guardar", :name => "commit", :type => "submit"}
                    %i.icon-save
                    Guardar y Seguir
                  %a.btn.btn-large{ :href => resources_path }
                    %i.icon-undo
                    Cancelar

:javascript
  function updateCharCount(fieldId) {
    var countId = fieldId + '-count'
    var maxLength = $(fieldId).attr('maxlength');
    var length = $(fieldId).val().length;
    $(countId).html(length + '/' + maxLength);
  }

  $(document).ready(function() {
    var fieldId = '#resource_description_es'
    updateCharCount(fieldId);
    $(fieldId).keyup(function() {
      updateCharCount(fieldId);
    });
  })
