:css
  #event_type_lang_input {
    list-style:none;
  }
  ol {
    list-style:none;
    list-style-type: none;
  }
  .label {
    color:black;
    background-color:white;
    font-weight: normal;
  }


- @event_type.errors.full_messages.each do |msg|
  .alert.alert-error
    %a.close{ "data-dismiss" => :alert, :href => "#" } &times;
    =msg

.row-fluid
  .span12.box
    .box-header.red-background
      .title
        .icon-edit
          = @event_type.name.nil? ? "Nuevo Tipo de Evento" : @event_type.name
    .box-content
      = #form_for @event_type do |f|
      = semantic_form_for @event_type do |f|
        %fieldset.inputs
          .row-fluid
            .span8
              .control-group
                %label.control-label{ :for => :name }= t("formtastic.labels.event_type.name") + " (*)"
                = f.text_field :name, :class => 'datepicker-class input-xxlarge'
            .span4
              .control-group
                %label.control-label{ :for => :duration }= t("formtastic.labels.event_type.duration") + " (*)"
                = f.text_field :duration, :class => 'datepicker-class input-mini'
          .row-fluid
            .span3
              .control-group
                %label.control-label
                  = t("formtastic.labels.event_type.trainers") + " (*)"
                .controls
                - for trainer in @trainers
                  %label.checkbox
                    = check_box_tag "event_type[trainer_ids][]", trainer.id, @event_type.trainers.include?(trainer)
                    = trainer.name
            .span3
              .control-group
                %label.control-label
                  = t("formtastic.labels.event_type.categories") + " (*)"
                .controls
                - for category in @categories
                  %label.checkbox
                    = check_box_tag "event_type[category_ids][]", category.id, @event_type.categories.include?(category)
                    = category.name
            .span3
              .control-group
                %label.control-label{ :for => :include_in_catalog }= t("formtastic.labels.event_type.include_in_catalog")
                = f.check_box :include_in_catalog
              .control-group
                = f.input :lang, as: :radio
              .control-group
                = f.input :platform, as: :radio
              .control-group
                = f.label "Academia ID"
                = f.number_field :external_id
            .span3
              .control-group
                %label.control-label{ :for => :tag_name }= t("formtastic.labels.event_type.tag_name")
                = f.text_field :tag_name, :class => 'input-block-level'
                %small.muted
                  Ejemplo "PASOL" generará cód proyecto "PASOL221218"
          .row-fluid
            .span4
              .control-group
                %label.control-label{ :for => :is_kleer_certification }= t("formtastic.labels.event_type.is_kleer_certification")
                = f.check_box :is_kleer_certification
            .span4
              .control-group
                %label.control-label{ :for => :csd_eligible }= t("formtastic.labels.event_type.csd_eligible")
                = f.check_box :csd_eligible
          .row-fluid
            .span4
              .control-group
                %label.control-label{ :for => :cover }= t("formtastic.labels.event_type.cover")
                = f.text_field :cover, :class => 'input-block-level'
            .span4
              .control-group
                %label.control-label{ :for => :cover }
                  Imagen a la derecha 
                = f.text_field :side_image, :class => 'input-block-level'
                -# = f.select :side_image, @image_list, :input_html => { :style => "width: 400px" }
            .span4
              .control-group
                %label.control-label{ :for => :subtitle }= t("formtastic.labels.event_type.kleer_cert_seal_image")
                -# = f.text_field :kleer_cert_seal_image, :class => 'input-block-level'
                = f.select :kleer_cert_seal_image, @bkgd_imgs, :input_html => { :style => "width: 400px" }
          .row-fluid
            .span12
              .control-group
                %label.control-label{ :for => :subtitle }= t("formtastic.labels.event_type.subtitle")
                = f.text_field :subtitle, :class => 'input-block-level'
          .row-fluid
            .span12
              .control-group
                %label.control-label{ :for => :elevator_pitch }= t("formtastic.labels.event_type.elevator_pitch") + " (*)"
                = f.text_area :elevator_pitch, :rows => 4, :class => "input-block-level", :maxlength => 160
                %small.muted
                  No más de 160 caracteres. Texto plano,
                  %strong sin HTML ni Markdown.
                  Este texto es para SEO, el description / og:description, en kleer.la. También será utilizado en las
                  %a{ :href => "https://dev.twitter.com/docs/cards", :target => "_blank"}Twittercards
          .row-fluid
            .span12
              .control-group
                %label.control-label{ :for => :description }= t("formtastic.labels.event_type.description") + " (*)"
                = f.text_area :description, :rows => 8, :class => "input-block-level"
                %small.muted
                  Este texto soporta
                  %a{ :href => "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", :target => "_blank"}Markdown
                  y HTML. Se mostrará inmediátamente después del "Elevator Pitch", en el tab de "Descripción", en kleer.la.
          .row-fluid
            .span6
              .control-group
                %label.control-label{ :for => :recipients }= t("formtastic.labels.event_type.recipients") + " (*)"
                = f.text_area :recipients, :rows => 8, :class => "input-block-level"
                %small.muted
                  Este texto soporta
                  %a{ :href => "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", :target => "_blank"}Markdown
                  y HTML. Se mostrará en su própio tab ("Destinado A"), en kleer.la.
            .span6
              .control-group
                %label.control-label{ :for => :program }= t("formtastic.labels.event_type.program") + " (*)"
                = f.text_area :program, :rows => 8, :class => "input-block-level"
                %small.muted
                  Este texto soporta
                  %a{ :href => "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", :target => "_blank"}Markdown
                  y HTML. Se mostrará en su própio tab ("Programa"), en kleer.la.
          .row-fluid
            .span6
              .control-group
                %label.control-label{ :for => :learnings }= t("formtastic.labels.event_type.learnings")
                = f.text_area :learnings, :rows => 8, :class => "input-block-level"
                %small.muted
                  Este texto soporta
                  %a{ :href => "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", :target => "_blank"}Markdown
                  y HTML. En el caso de que exista, se mostrará en el tab "Descripción", en kleer.la, dentro de un recuadro amarillo.
            .span6
              .control-group
                %label.control-label{ :for => :takeaways }= t("formtastic.labels.event_type.takeaways")
                = f.text_area :takeaways, :rows => 8, :class => "input-block-level"
                %small.muted
                  Este texto soporta
                  %a{ :href => "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", :target => "_blank"}Markdown
                  y HTML. En el caso de que exista, se mostrará en el tab "Descripción", en kleer.la, dentro de un recuadro rosa.
          .row-fluid
            .span6
              .control-group
                %label.control-label{ :for => :faq }= t("formtastic.labels.event_type.faq")
                = f.text_area :faq, :rows => 8, :class => "input-block-level"
                %small.muted
                  Este texto soporta
                  %a{ :href => "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", :target => "_blank"}Markdown
                  y HTML. Se mostrará en su própio tab ("Preguntas Frecuentes"), en kleer.la.
            .span6
              .control-group
                %label.control-label{ :for => :materials }= t("formtastic.labels.event_type.materials")
                = f.text_area :materials, :rows => 8, :class => "input-block-level"
                %small.muted
                  Este texto soporta
                  %a{ :href => "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", :target => "_blank"}Markdown
                  y HTML. Uso interno, por ahora no se muestra en ningún lado.
          .row-fluid
            .span12
              .control-group
                %label.control-label{ :for => :cancellation_policy }= t("formtastic.labels.event_type.cancellation_policy")
                = f.text_area :cancellation_policy, :rows => 8, :class => "input-block-level"
                - if !@cancellation_policy_setting.nil?
                  %a.btn.btn-small.btn-info.btn-cancellation-policy{ :href => "#"}
                    %i.icon-cog
                    Utilizar la default
                %small.muted
                  Este texto soporta
                  %a{ :href => "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", :target => "_blank"}Markdown
                  y HTML. Se mostrará en su própio tab ("Preguntas Frecuentes"), en kleer.la.
          .row-fluid
            .span6
              .control-group
                %label.control-label{ :for => :external_site_url }
                  Link público a Brochure (pdf)
                = f.text_field :brochure, :class => "input-block-level"
            .span6
              .control-group
                %label.control-label{ :for => :external_site_url }= t("formtastic.labels.event_type.external_site_url")
                = f.text_field :external_site_url, :class => "input-block-level"
                %small.muted
                  Si este campo existe, la landing normal en kleer.la no se mostrará, se redirigirá este lugar.
          .row-fuid
            .span12
              .control-group
                %label.control-label{ :for => :extra_script }= t("formtastic.labels.event.extra_script")
                = f.text_area :extra_script, :rows => 5, :class => 'input-block-level', :placeholder => t("formtastic.hints.event.extra_script")
                %small.muted
                  Este texto se mostrará sin modificaciones en la página                  
          .row-fluid
            .span12
              .control-group
                %label.control-label{ :for => :canonical_id }= t("formtastic.labels.event_type.canonical")
                = f.collection_select :canonical_id, (@event_types || []), :id, :unique_name, {include_blank: '<autoref>'}
                %small.muted
                  Para SEO, se incluira en HEAD de la landing.
          .row-fluid
            .span4
              .control-group
                %label.control-label{ :for => :deleted }
                  Borrado
                = f.check_box :deleted
                %small.muted
                  Redireccionará a canonical o 404
            .span4
              .control-group
                %label.control-label{ :for => :noindex }
                  No Indexar
                = f.check_box :noindex
                %small.muted
                  Pedirá no ser indexada por buscador (es un draft o tiene canonical).
            .span4
              .control-group
                %label.control-label{ :for => :new_version }
                  Nueva Versión
                = f.check_box :new_version
                %small.muted
                  Se visualizará (landing) con nueva versión (si hubiera)
          .row-fuid
            .span12
              .form-actions
                .text-right
                  %button.btn.btn-primary.btn-large{:id => "guardar", :name => "commit", :type => "submit"}
                    %i.icon-save
                    Guardar
                  %a.btn.btn-large{ :href => event_types_path }
                    %i.icon-undo
                    Cancelar

- if !@cancellation_policy_setting.nil?
  :javascript
    $('.btn-cancellation-policy').on('click', function(e){
      e.preventDefault();
      $('#event_type_cancellation_policy').val( "#{escape_javascript @cancellation_policy_setting}" );
    });
