.page-header
  %h1.pull-left
    %i.icon-group
    %span 
      Comentarios de 
      = @event_type.name

= render '/commons/notice'

.row-fluid
  .span12.box.bordered-box.orange-border{ :style => "margin-bottom:0;" }
    .responsive-table
      .scrollable-area
        %table.table
          %thead
            %tr
              %th Fecha
              %th Participante
              %th Mostrar
              %th Comentario
            %tbody
              - @participants.each do |participant|
                - path= "/events/#{participant.event.id}/participants/#{participant.id}"
                %tr
                  %td
                    %a{ :href => "/events/#{participant.event.id}/participants" }
                      = participant.event.date
                  %td
                    %a{ :href => "/events/#{participant.event.id}/participants_survey" }
                      = "#{participant.fname} #{participant.lname}"
                  %td{ :style => "white-space:normal;"}
                    = best_in_place participant, :selected, :as => :checkbox, :url => path, :class => ['editable','editable-click']
                  %td{ :style => "white-space:pre-line;"}
                    = best_in_place participant, :testimony, :as => :textarea, :url => path, :class => ['editable','editable-click']

:javascript

  $(document).ready(function() {
    /* Activating Best In Place */
    jQuery(".best_in_place").best_in_place();
  });
