= t('mail.welcome.payment.text', locale: @lang)
= "#{@online_invoice_url}?utm_source=emailpaynowbutton#paynow"
= ''
= t('mail.welcome.payment.notice', locale: @lang)
= ''
= t('mail.welcome.invoice', locale: @lang)
= @online_invoice_url
