= "#{@participant.event.event_type.name} - #{@participant.event.human_date}"
= ''
= t('mail.welcome.hello', locale: @lang, name: @participant.fname)
= ''
Hemos recibido el pago correspondiente y te confirmamos tu lugar.
Un par de días antes del inicio del curso recibirás un mail con la información correponciente.
= ''
= t('mail.welcome.closing', locale: @lang)
= ''
= t('mail.welcome.regards', locale: @lang)
= ''
Kleer - Agile Coaching & Training
%br
= ADMIN_MAIL
%br
= "website | http://www.kleer.la"
