= "#{@participant.event.event_type.name} - #{@participant.event.human_date}"
= ''
= t('mail.paid.hello', locale: @lang, name: @participant.fname)
= ''
= ''
= t('mail.paid.body', locale: @lang)
= ''
= ''
= t('mail.paid.closing', locale: @lang)
= ''
= ''
= t('mail.paid.regards', locale: @lang)
= ''
= ''
Kleer - Agile Coaching & Training
%br
= ADMIN_MAIL
%br
= "website | http://www.kleer.la"
