= "Hola " + @participant.fname
===============================================

= "Gracias por inscribirte en nuestro taller de " + @participant.event.event_type.name
= "facilitado por #{@participant.event.trainer.name}"

Te contactamos para notificarte el resultado de tu proceso de pago:

= "Tu pago fue " + @result

Nos pondremos en contacto contigo en la víspera del taller, para darte todos los detalles

Cualquier consulta que tengas no dudes en contactarnos.
Saludos!

Kleer - Agile Coaching & Training
website | http://www.kleer.la
facebook | http://www.facebook.com/kleer.la
twitter | https://twitter.com/kleer_la
