= "Hola " + @participant.fname
= ""

Gracias por haber participado en el evento 
= @participant.event.event_type.name
= "facilitado por #{@participant.event.trainer.name}"
= ""

Sigue el Link para obtener tu certificado en el formato deseado:
= @certificate_link_letter
= ""

- if @hr_message.present?
  = "--- Mensaje de RR.HH. ---"
  = @hr_message
  = "--- Fin del mensaje ---"
  = ""

Cualquier consulta que tengas no dudes en contactarnos.
¡Saludos!

Kleer - Agile Coaching & Training
website | http://www.kleer.la
facebook | http://www.facebook.com/kleer.la
twitter | https://twitter.com/kleer_la