%div{ :style => "background-color:rgb(110, 233, 241);margin-bottom:20px;padding:10px;font-size:34px;" }
  %font{ :face => "courier new, courier, monospace", :size => "5" }
    %span{ :style => "line-height: 21.99652862548828px;" }
    = @participant.event.event_type.name
%div{ :style => "font-family:Verdana;font-size:12px" }
  = "Hola, " + @participant.fname + "."
  %br
  %br
  ¡Gracias por tu interés!
  %br
  %br
  Te enviamos la información de este taller:
  %br
  - if @participant.event.custom_prices_email_text.blank?
    %b
      Precios:
    %br
    %b
      Precio de lista:
      = "(#{@participant.event.currency_iso_code}) #{currency_symbol_for(@participant.event.currency_iso_code)} #{sprintf("%05.2f", @participant.event.list_price)}"
    - if !@participant.event.eb_price.nil? && @participant.event.eb_price > 0
      %br
      %b
        Pronto pago:
      = "(#{@participant.event.currency_iso_code}) #{currency_symbol_for(@participant.event.currency_iso_code)} #{sprintf("%05.2f", @participant.event.eb_price)} abonando antes del #{@participant.event.eb_end_date.strftime('%d-%b-%Y')}."
    %br
    - if !@participant.event.couples_eb_price.nil? || !@participant.event.business_eb_price.nil?
      %br
      %b
        Descuentos Grupales:
      %br
      - if !@participant.event.couples_eb_price.nil?
        = "#{sprintf("%05.2f", @participant.event.couples_eb_price)} pagando de a 2 personas antes del #{@participant.event.eb_end_date.strftime('%d-%b-%Y')}."
        %br
      - if !@participant.event.business_eb_price.nil?
        = "#{sprintf("%05.2f", @participant.event.business_eb_price)} pagando de a 5 personas antes del #{@participant.event.eb_end_date.strftime('%d-%b-%Y')}."
        %br
    %br
    (Promociones no acumulables, aplicadas sobre el precio de lista)
    %br
    %br
    %b
      Formas de pago:
    - if @participant.event.country.iso_code != 'CL'
      tarjeta de crédito,
    transferencia bancaria, depósito o cheque.
    - if @participant.event.country.iso_code == 'AR'
      (
      %a{ :href => "http://www.kleer.la/es/preguntas-frecuentes/facturacion-pagos-argentina", :target => "_blank" }
        más información
      ).
    %br
    %br
    Envianos un mensaje a
    %a{ :href => "mailto:entrenamos@kleer.la" }
      entrenamos@kleer.la
    con la forma de pago que prefieras.
    %b
      Mientras tanto te reservaremos el orden de inscripción para este evento por las próximas 48 horas.
  - else
    = @markdown_renderer.render( @participant.event.custom_prices_email_text ).html_safe
  %br
  %br
  %b
    Fecha:
  =" #{@participant.event.human_date}"
  %br
  %b
    Horario:
  =@participant.event.start_time.strftime( '%H:%M' ) + " a " + @participant.event.end_time.strftime( '%H:%M ' ) + "hs."
  %br
  %b
    Lugar:
  =" #{@participant.event.place}"
  %br
  %b
    Dirección:
  =" #{@participant.event.address}, #{@participant.event.city}, #{@participant.event.country.name}"
  %br
  %br
  %b
  - if @participant.event.trainer2.nil?
    Facilitador:
  - else
    Facilitadores:                                  
  - if @participant.event.trainer.linkedin_url.blank?
    %b= @participant.event.trainer.name
  - else
    %a{ :href => @participant.event.trainer.linkedin_url, :target => "_blank" }
      = @participant.event.trainer.name
  - if ! @participant.event.trainer2.nil?
    y 
    - if ! @participant.event.trainer2.linkedin_url.blank?
      %a{ :href => @participant.event.trainer2.linkedin_url, :target => "_blank" }
        = @participant.event.trainer2.name
    - else
      %b= @participant.event.trainer2.name
  %br
  %br
  - if ! @participant.event.event_type.program.blank?
    %br
    %br
    %b
      Programa:
    %br
    = @markdown_renderer.render( @participant.event.event_type.program ).html_safe
  %br
  %br
  - if !@participant.event.cancellation_policy.nil? && @participant.event.cancellation_policy != ""
    %b
      Política de Cancelación
    %br
    %br
    = @markdown_renderer.render( @participant.event.cancellation_policy.gsub "{cancellation_limit_date}", @participant.event.human_cancellation_limit_date ).html_safe
  %br
  %br
  No dudes en contactarnos por cualquier consulta que tengas :)
  %br
  %br
  ¡Te esperamos!
  %br
  %br
  %strong Kleer - Agile Coaching & Training
  %br
  = "website | "
  %a{ :href => "http://www.kleer.la", :target => "_blank" }
    http://www.kleer.la
