%div{ :style => "background-color:rgb(110, 233, 241);margin-bottom:20px;padding:10px;font-size:34px;" }
  %font{ :face => "raleway, verdana, sans-serif", :size => "5" }
    %span{ :style => "line-height: 22px;" }
    = "#{@participant.event.event_type.name} - #{@participant.event.human_date}"
    
%div{ :style => "padding:6px;font-size:12px" }
  %font{ :face => "raleway, verdana, sans-serif"}
    = "Hola, " + @participant.fname + "."
    %br
    Recibes este correo como continuación de la compra que iniciaste en el sitio de Kleer.

    %br
    Para completar la compra y reservar tu lugar, te compatimos el link de pago:
    %br
    %a{ref: "#{@online_invoice_url}?utm_source=emailpaynowbutton#paynow", style: "background: rgb(87, 196, 10); border: 0px solid rgb(87, 196, 10); border-radius: 3px; color: rgb(254, 254, 254); display: inline-block; font-family: Helvetica, Arial, sans-serif; font-size: 12px; font-weight: 700; line-height: 1.3; margin: 0px; padding: 5px 0px; text-align: center; text-decoration: none; width: 110px;"} Pagar ahora
    %br
    Este link tiene validez hasta el final de período del pago temprano o 6 días, lo que ocurra primero.

    Puedes ver la factura correspondiente aquí
    = @online_invoice_url

    %br
    %br
    Datos del evento
    %b
      Horario:
    =@participant.event.start_time.strftime( '%H:%M' ) + " a " + @participant.event.end_time.strftime( '%H:%M ' ) + "hs."
    %br
    %b
      Lugar:
    =" #{@participant.event.place}"
    %br
    %b
      Dirección:
    = " #{@participant.event.address}, #{@participant.event.city}, #{@participant.event.country.name}"
    %br
    %br
    - if @participant.event.custom_prices_email_text.present?
      = @markdown_renderer.render( @participant.event.custom_prices_email_text ).html_safe
    %br
    - if @participant.event.cancellation_policy.present?
      %b
        Política de Cancelación
      %br
      %br
      = @markdown_renderer.render( @participant.event.cancellation_policy.gsub "{cancellation_limit_date}", @participant.event.human_cancellation_limit_date ).html_safe
    %br
    %br
    No dudes en contactarnos por cualquier consulta que tengas &#x1F60A;  
    %br
    %br
    ¡Te esperamos!
    %br
    %br
    %strong Kleer - Agile Coaching & Training
    %br
    = ADMIN_MAIL
    %br
    = "website | "
    %a{ :href => "http://www.kleer.la", :target => "_blank" }
      http://www.kleer.la
- content_for  :side_image do
  %img{ :src => "https://kleer-images.s3-sa-east-1.amazonaws.com/mails/img_derecha.png  ", :alt => "", :border => "0", :width => "160", :height => "247", :style => "border:0px none;min-height:247px;line-height:16px;outline:none;display:inline;width:160px;margin:0px;padding:0px;max-width:160px" }
