%div{ :style => "background-color:rgb(110, 233, 241);margin-bottom:20px;padding:10px;font-size:34px;" }
  %font{ :face => "raleway, verdana, sans-serif", :size => "5" }
    %span{ :style => "line-height: 22px;" }
    = "#{@participant.event.event_type.name} - #{@participant.event.human_date}"
    
%div{ :style => "padding:6px;font-size:12px" }
  %font{ :face => "raleway, verdana, sans-serif"}
    = t('mail.welcome.hello', locale: @lang, name: @participant.fname)
    %br
    %br
    = t('mail.welcome.purpose', locale: @lang)
    %br
    %br
    = t('mail.welcome.payment.text', locale: @lang)
    %br
    %a{href: "#{@online_invoice_url}?utm_source=emailpaynowbutton#paynow", style: "background: rgb(87, 196, 10); border: 0px solid rgb(87, 196, 10); border-radius: 3px; color: rgb(254, 254, 254); display: inline-block; font-family: Helvetica, Arial, sans-serif; font-size: 12px; font-weight: 700; line-height: 1.3; margin: 0px; padding: 5px 0px; text-align: center; text-decoration: none; width: 110px;"}= t('mail.welcome.payment.button', locale: @lang)
    %br
    = t('mail.welcome.payment.notice', locale: @lang)
    %br
    %br
    = t('mail.welcome.invoice', locale: @lang)
    = @online_invoice_url
    %br
    %br
    = t('mail.welcome.info.title', locale: @lang)
    %b
      = t('mail.welcome.info.time.label', locale: @lang)
    = t('mail.welcome.info.time.range', locale: @lang, start: @participant.event.start_time.strftime('%H:%M'), end: @participant.event.end_time.strftime('%H:%M') )
    %br
    %b
      = t('mail.welcome.info.place.label', locale: @lang)
    = @participant.event.place
    %br
    - unless @participant.event.country.name.downcase.include? 'online'
      %b
      = t('mail.welcome.info.address.label', locale: @lang)
      = "#{@participant.event.address}, #{@participant.event.city}, #{@participant.event.country.name}"
    %br
    - if @participant.event.custom_prices_email_text.present?
      %br
      = @markdown_renderer.render( @participant.event.custom_prices_email_text ).html_safe
      %br
    - if @participant.event.cancellation_policy.present?
      %b
        = t('mail.welcome.info.policy.label', locale: @lang)
      %br
      %br
      = @markdown_renderer.render( @participant.event.cancellation_policy.gsub "{cancellation_limit_date}", @participant.event.human_cancellation_limit_date ).html_safe
    %br
    %br
    = t('mail.welcome.closing', locale: @lang)
    %br
    %br
    = t('mail.welcome.regards', locale: @lang)
    %br
    %br
    %strong Kleer - Agile Coaching & Training
    %br
    = ADMIN_MAIL
    %br
    = "website | "
    %a{ :href => "http://www.kleer.la", :target => "_blank" }
      http://www.kleer.la
- content_for  :side_image do
  %img{ :src => "https://kleer-images.s3-sa-east-1.amazonaws.com/mails/img_derecha.png  ", :alt => "", :border => "0", :width => "160", :height => "247", :style => "border:0px none;min-height:247px;line-height:16px;outline:none;display:inline;width:160px;margin:0px;padding:0px;max-width:160px" }
