%div{ :style => "background-color:rgb(110, 233, 241);margin-bottom:20px;padding:10px;font-size:34px;" }
  %font{ :face => "courier new, courier, monospace", :size => "5" }
    %span{ :style => "line-height: 21.99652862548828px;" }
    = @participant.event.event_type.name
%div{ :style => "font-family:Verdana;font-size:12px;padding:6px" }
  = "Hola, " + @participant.fname + "."
  %br
  %br
  ¡Gracias por tu interés!
  %br
  %br
  Te enviamos la información de este taller:
  %br
  %br
  - if @participant.event.custom_prices_email_text.blank?
    - iso_code= @participant.event.currency_iso_code
    - #currency_symbol = currency_symbol_for(@participant.event.currency_iso_code)
    - def currency_format(money) sprintf("%.0f", money) end
    - eb_end_date= @participant.event.eb_end_date&.strftime('%d-%b-%Y')
    %b
      Precio de lista:
      = "#{iso_code} #{currency_format(@participant.event.list_price)}"
    %br
    - if !@participant.event.eb_price.nil? && @participant.event.eb_price > 0
      %b
        Pronto pago:
      = "#{iso_code} #{currency_format(@participant.event.eb_price)} abonando antes del #{eb_end_date}."
      %br
    - if !@participant.event.couples_eb_price.nil?
      %b
        En parejas:
      = "#{iso_code} #{currency_format(@participant.event.couples_eb_price)} cada uno abonando antes del #{eb_end_date}."
    %br
    %b
      Formas de pago:
    Tarjeta de crédito.
    %br
    - if @participant.influence_zone.country.iso_code == 'AR'
      %b
        Nota: Para pagos desde Argentina
      los valores se convierten a pesos con tipo de cambio del BNA y no se aplica impuesto PAIS.
      %br
    %br
    %h1
      %b
        &#x1F525; IMPORTANTE: Para reservar tu lugar responde a este mail confirmando tu intención de inscribirte y te enviaremos un link de pago.
    %br
    - if !@participant.event.business_eb_price.nil?
      %br
      Grupos (5 o más):
      %br
      = "#{iso_code} #{currency_format(@participant.event.business_eb_price)} cada uno abonando antes del #{eb_end_date}."
      %br
      %br
      Para grupos, responde a este mail indicando cuantas personas son y si puedes pagar con tarjeta.
      %br
    %br
    %br
  - else
    = @markdown_renderer.render( @participant.event.custom_prices_email_text ).html_safe
  %br
  %br
  %b
    Fecha:
  =" #{@participant.event.human_date}"
  %br
  %b
    Horario:
  =@participant.event.start_time.strftime( '%H:%M' ) + " a " + @participant.event.end_time.strftime( '%H:%M ' ) + "hs."
  %br
  %b
    Lugar:
  =" #{@participant.event.place}"
  %br
  %b
    Dirección:
  =" #{@participant.event.address}, #{@participant.event.city}, #{@participant.event.country.name}"
  %br
  %br
  %b
  - if @participant.event.trainer2.nil?
    Facilitador:
  - else
    Facilitadores:                                  
  - if @participant.event.trainer.linkedin_url.blank?
    %b= @participant.event.trainer.name
  - else
    %a{ :href => @participant.event.trainer.linkedin_url, :target => "_blank" }
      = @participant.event.trainer.name
  - if ! @participant.event.trainer2.nil?
    y 
    - if ! @participant.event.trainer2.linkedin_url.blank?
      %a{ :href => @participant.event.trainer2.linkedin_url, :target => "_blank" }
        = @participant.event.trainer2.name
    - else
      %b= @participant.event.trainer2.name
  %br
  %br
  - if ! @participant.event.event_type.program.blank?
    %br
    %br
    %b
      Programa:
    %br
    = @markdown_renderer.render( @participant.event.event_type.program ).html_safe
  %br
  %br
  - if !@participant.event.cancellation_policy.nil? && @participant.event.cancellation_policy != ""
    %b
      Política de Cancelación
    %br
    %br
    = @markdown_renderer.render( @participant.event.cancellation_policy.gsub "{cancellation_limit_date}", @participant.event.human_cancellation_limit_date ).html_safe
  %br
  %br
  No dudes en contactarnos por cualquier consulta que tengas &#x1F60A
  %br
  %br
  ¡Te esperamos!
  %br
  %br
  %strong Kleer - Agile Coaching & Training
  %br
  = "website | "
  %a{ :href => "http://www.kleer.la", :target => "_blank" }
    http://www.kleer.la
