- def my_radio(image_type)
  - if image_type == @image_bucket
    - radio_button_tag :image_bucket, image_type, checked: true
  - else
    - radio_button_tag :image_bucket, image_type
.row-fluid
  .span12.box
    .box-header.red-background
      .title
        - if @image.key.nil?
          Nueva Imagen 
        - else
          = @image.key
    .box-content
      = form_tag '/images/create', method: :post, multipart: true do
        %fieldset.inputs
          .row-fuid
            .span12
              .control-group
                %label.radio.inline
                  = my_radio 'image'
                  Image / PDF (for articles & event type, to be used incover and descriptions or brochure)
                %br
                %label.radio.inline
                  = my_radio 'signature'
                  Trainer Signature
                %br
                %label.radio.inline
                  = my_radio 'certificate'
                  Certificate background
                %br
          .row-fuid
            .span12
              .control-group
                %label.control-label{ :for => :image }= 'Image to upload:' #t("formtastic.labels.event.registration_link")
                = file_field_tag :image
          .row-fuid
            .span12
              .control-group
                %label.control-label{ :for => :path }= 'Path/name to store:' #t("formtastic.labels.event.registration_link")
                = text_field_tag :path
          .row-fuid
            .span12
              .form-actions
                .text-right
                  = submit_tag 'Upload'
          
:javascript
  $(document).ready(function() {
    $("#image").change(function() {
      var fileName = $(this).val().split("\\").pop();
      $("#path").val(fileName);
    });
  });