.row-fluid
  .span12.box
    .box-header.red-background
      .title
        - if @image.key.nil?
          Nueva Imagen
        - else
          = @image.key
    .box-content
      = form_tag '/images/create', method: :post, multipart: true do
        %fieldset.inputs
          .row-fuid
            .span12
              = file_field_tag :image
          .row-fuid
            .span12
              .control-group
                %label.control-label{ :for => :path }= 'Path:' #t("formtastic.labels.event.registration_link")
                = text_field_tag :path
          .row-fuid
            .span12
              .form-actions
                .text-right
                  = submit_tag 'Upload'
          
    -# .box-content
    -#   = form_for @image do |f|  # = form_tag(controller: :search , action: :query)
    -#     %fieldset.inputs
    -#       .row-fuid
    -#         .span12
    -#           .control-group
    -#             %label.control-label{ :for => :registration_link }= t("formtastic.labels.event.registration_link")
    -#             = f.text_field :registration_link, :type => :url, :class => 'input-block-level', :placeholder => t("formtastic.hints.event.registration_link")
    -#       .row-fuid
    -#         .span12
    -#           .form-actions
    -#             .text-right
    -#               %button.btn.btn-primary.btn-large{:id => "guardar", :name => "commit", :type => "submit"}
    -#                 %i.icon-save
    -#                 Guardar
    -#               %a.btn.btn-large{ :href => events_path }
    -#                 %i.icon-undo
    -#                 Cancelar
:javascript
  $(document).ready(function() {
    $("#image").change(function() {
      var fileName = $(this).val().split("\\").pop();
      $("#path").val(fileName);
    });
  });