!!!
%html{html_attrs(I18n.locale)}

  %head
    %title
      = (yield(:title) || t('title.untitled'))
    %meta{ :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', :name => 'viewport'}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    = yield(:head)

  - if !user_signed_in?
    %body.sign-in
      #wrapper
        = yield
  - else
    %body
      %header
        .navbar
          .navbar-inner
            .container-fluid
              %a.brand{ :href => "/"}
                %i.icon-calendar
                %span.hidden-phone Keventer
              %a.toggle-nav.btn.pull-left{ :href => '#' }
                %i.icon-reorder
              %ul.nav.pull-right
                %li.dropdown.dark.user-menu
                  %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#" }
                    %i.icon-user
                    %span.user-name.hidden-phone Mi Cuenta
                    %b.caret
                  %ul.dropdown-menu
                    -# %li
                    -#  %a{ :href => "/users/password/new" }
                    -#    %i.icon-cog
                    -#    Cambiar Clave
                    %li.divider
                    %li
                      %a{ :href => destroy_user_session_path,  "data-method" => :delete, :rel => :nofollow }
                        %i.icon-signout
                        = t('menu.exit')
              %span.pull-right
                %form{ :action=> "/participants/search", :method => 'GET' }
                  %input#search_name{ :name=> 'name', :placeholder => 'nombre y/o apellido'}
                  %button.btn.btn-primary#search{ :type=>"submit" }
                    %i.icon-search
                  %span.hidden-phone &nbsp;
      .wrapper
        - if user_signed_in?
          = render '/commons/menu'
        %section#content
          .container-fluid
            .row-fluid#content-wrapper
              .span12
                = yield
- if Rails.env.production?
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-74350657-1', 'auto');
    ga('send', 'pageview');
