!!!
%html{lang: I18n.locale}
  %head
    - if Rails.env.production?
      - # Global site tag (gtag.js) - Google Analytics %>
      %script{async: true, src: "https://www.googletagmanager.com/gtag/js?id=UA-74350657-1"}
      :javascript
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-74350657-1');
    %title
      = (yield(:title) || t('title.untitled'))
    %meta{ :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', :name => 'viewport'}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'

    = yield(:head)

  - if !user_signed_in?
    %body.sign-in
      #wrapper
        = yield
  - else
    %body
      %header
        .navbar
          .navbar-inner
            .container-fluid
              %a.brand{ :href => "/"}
                %i.icon-calendar
                %span.hidden-phone Keventer 2022
              %a.toggle-nav.btn.pull-left{ :href => '#' }
                %i.icon-reorder
              %ul.nav.pull-right
                %li.dropdown.dark.user-menu
                  %a.dropdown-toggle{ "data-toggle" => "dropdown", :href => "#" }
                    %i.icon-user
                    %span.user-name.hidden-phone Mi Cuenta
                    %b.caret
                  %ul.dropdown-menu
                    -# %li
                    -#  %a{ :href => "/users/password/new" }
                    -#    %i.icon-cog
                    -#    Cambiar Clave
                    %li.divider
                    %li
                      %a{ :href => destroy_user_session_path,  "data-method" => :delete, :rel => :nofollow }
                        %i.icon-signout
                        = t('menu.exit')
              %span.pull-right
                %form{ :action=> "/participants/search", :method => 'GET' }
                  %input#search_name{ :name=> 'name', :placeholder => 'nombre y/o apellido'}
                  %button.btn.btn-primary#search{ :type=>"submit" }
                    %i.icon-search
                  %span.hidden-phone &nbsp;
      .wrapper
        - if user_signed_in?
          = render '/commons/menu'
        %section#content
          .container-fluid
            .row-fluid#content-wrapper
              .span12
                = yield
