!!!
%html{lang: I18n.locale}
  %head
    - if Rails.env.production?
      :javascript
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W5H5CPKF');
    %title
      = (yield(:title) || t('title.untitled'))
    %meta{ :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', :name => 'viewport'}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)

  %body.sign-in{ :style => "padding-top: 0px"}
    %noscript
      %iframe{src: "https://www.googletagmanager.com/ns.html?id=GTM-W5H5CPKF", height: "0", width: "0", style: "display:none;visibility:hidden"}
    #wrapper
      = yield
